@model NordicArenaTournament.Areas.Admin.ViewModels.ResultsViewModel
@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common

@using Links
@using Scripts = System.Web.Optimization.Scripts

@{
	ViewBag.Title = NaHtml.PageTitle(Text.ResultsPageTitle);
	Layout = "";
}
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div id="body-container">
		<section class="main-content">
			@{ Html.RenderPartial(MVC.Admin.TournamentAdmin.Views.ResultsContent, Model);}
		</section>
	</div>

	@Scripts.Render("~/bundles/jquery")
    @Scripts.Render(Links.Scripts.nordic_arena_main_js)
    @Styles.Render("~/bundles/results-styles")
	@Scripts.Render("~/bundles/results-scripts")
	@Scripts.Render("~/signalr/hubs")
    <script language="javascript" type="text/javascript">
        nordicArena.currentCulture = "@System.Threading.Thread.CurrentThread.CurrentCulture.ToString()";
        Globalize.culture(nordicArena.currentCulture);
        $(function () {
            nordicArena.results.reloadUrl = '@Html.Raw(Url.Action(MVC.Admin.TournamentAdmin.ResultsContent(Model.Tournament.Id, Model.RoundNo)))';
        });
    </script>
</body>