@model NordicArenaTournament.Areas.Judge.ViewModels.JudgeViewModel
@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common
@{
    ViewBag.Title = NaHtml.PageTitle(Text.JudgePageTitle);
}
@section htmlheader {
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
}

<<<<<<< HEAD
@if(Model.Judge.IsHeadJudge)
{
	<div class="speaker-control-container">
		<div class="header derp">@Text.JudgeStatus:</div><br />
		<div id="judge-status-container">
			@{ Html.RenderPartial(MVC.Speaker.TournamentSpeaker.Views.JudgeStatus, Model.JudgeStatus);}
		</div>
	</div>
}


=======
>>>>>>> c5fd47ac6b3656a21ebcd0a1a91a44556ad9d49b
<div id="judge-main-container">
    @Html.Partial(MVC.Judge.TournamentJudge.Views.JudgeIndexContent)
</div>
@section Scripts {
    @Styles.Render("~/bundles/judge-styles")
    @Scripts.Render("~/bundles/judge-scripts")
    @Scripts.Render("~/signalr/hubs")
} 
@section jqueryonload {
    nordicArena.judge.reloadUrl = '@Html.Raw(Url.Action(MVC.Judge.TournamentJudge.JudgeIndexContent(Model.Tournament.Id, Model.Judge.Id)))';    
}
