@model NordicArenaTournament.ViewModels._LayoutViewModel
@using Links
@using NordicArenaTournament.Common
@using NordicArenaDomainModels.Resources
@using Scripts = System.Web.Optimization.Scripts
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("htmlheader", required: false)
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="body-container">
        <header>
            @*Sponsor logos *@
            @if (Model.SponsorImageUrl1 != null)
            {
                <img class="normal-margin" src="@Model.SponsorImageUrl1" />
            }
            @if (Model.SponsorImageUrl2 != null)
            {
                <img class="normal-margin" src="@Model.SponsorImageUrl2" />
            }
            @* Navigation *@
            @{var selectedCss = "selected";}
            <nav class="admin-header noprint">
                @if (Html.CurrentController() != "Main")
                {
                    @Html.ActionLink(@Text.EditTournamentPageTitle, MVC.Admin.TournamentAdmin.EditTournament(), Html.ClassIfAtAction(selectedCss, MVC.Admin.TournamentAdmin.ActionNames.EditTournament))
                    @Html.ActionLink(@Text.AdminJudgeListLink, MVC.Admin.TournamentAdmin.JudgeList(), Html.ClassIfAtAction(selectedCss, MVC.Admin.TournamentAdmin.ActionNames.JudgeList))
                    @Html.ActionLink(@Text.AdminContestantListLink, MVC.Admin.TournamentAdmin.ContestantList(), Html.ClassIfAtAction(selectedCss, MVC.Admin.TournamentAdmin.ActionNames.ContestantList))
                    @Html.ActionLink(@Text.JudgePageTitle, MVC.Judge.TournamentJudge.JudgeIndex(), Html.ClassIfAtAction(selectedCss, MVC.Judge.TournamentJudge.ActionNames.JudgeIndex))
                    @Html.ActionLink(@Text.JudgementListPageTitle, MVC.Judge.TournamentJudge.JudgementList(), Html.ClassIfAtAction(selectedCss, MVC.Judge.TournamentJudge.ActionNames.JudgementList))
                    @Html.ActionLink(@Text.SpeakerPageTitle, MVC.Speaker.TournamentSpeaker.SpeakerIndex(), Html.ClassIfAtAction(selectedCss, MVC.Speaker.TournamentSpeaker.ActionNames.SpeakerIndex))
                    @Html.ActionLink(@Text.ResultsPageTitle, MVC.Admin.TournamentAdmin.Results(), Html.ClassIfAtAction(selectedCss, MVC.Admin.TournamentAdmin.ActionNames.Results))
                }
                @Html.ActionLink(@Text.TournamentListPageTitle, MVC.Admin.Main.TournamentList(), Html.ClassIfAtAction(selectedCss, MVC.Admin.Main.ActionNames.TournamentList))

            </nav>
        </header>
        @* Banner *@
        <div class="banner" style="background-image: url('@Model.BannerImageUrl')" ></div>
        @* Error feedback *@
        <div id="javascript-error" class="error hidden"></div>
        @if (@Model.HasFeedback)
        {
            <div class="error">
                @Model.FeedbackText
            </div>
        }
        @RenderSection("header", required: false)
        <section class="main-content">
            @RenderBody()
        </section>
        <footer>
            <div id="footer-content">
                <div id="footer-left">
                    <div>Copyright © Nordicarena Oslo 2014</div>
                    <div>A product by <a href="http://www.novanet.no">Novanet AS</a></div>
                </div>
                <div id="footer-right">
                    <img id="footer-logo" src="/Content/images/logo.png">
                </div>
            </div>
            <div id="footer-bar">&nbsp;</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render(Links.Scripts.nordic_arena_main_js)
    @RenderSection("scripts", required: false)
    <script language="javascript" type="text/javascript">
        nordicArena.currentCulture = "@System.Threading.Thread.CurrentThread.CurrentCulture.ToString()";
        Globalize.culture(nordicArena.currentCulture);
        $(function () {
            @RenderSection("jqueryonload", required: false)
        });
    </script>
</body>
</html>
