@model NordicArenaTournament.ViewModels.LabelEditorPair
@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common
<span class="label-editor-pair">
    <span class="editor-label @Model.LabelCssClass">
        @Model.LabelHtml:
    </span>
    <span class="editor-field @Model.EditorCssClass">
        @Model.EditorHtml
    </span>
    @Model.ValidationHtml
</span>
