@model NordicArenaTournament.Areas.Admin.ViewModels.TournamentListViewModel
@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common
@using NordicArenaDomainModels.Models

@{
    ViewBag.Title = NaHtml.PageTitle(Text.TournamentListPageTitle);
}

<div class="container">
	<div class="row">
		<p class="3u" style="margin-top: 3em;">
			@Html.ActionLink(Text.CreateNew, MVC.Admin.Main.CreateTournament())
		</p>

		@if (Model.Tournaments.Count() > 0)
		{
			<div class="12u">
				<table>
					<tr>
						<th><label>@Text.ChooseTournament</label></th>
						<th>@Html.LabelFor(p => p.Tournaments.FirstOrDefault().Status)</th>
						<th><label>@Text.Results</label></th>
						<th><label>@Text.Action</label></th>
					</tr>

					@foreach (var tournament in Model.Tournaments)
					{
						<tr>
							<td>
								@Html.ActionLink(@tournament.Name, MVC.Admin.TournamentAdmin.EditTournament(tournament.Id))
							</td>
							<td>
								@NaHtml.EnumValueFor(tournament.Status)
							</td>
							<td>
								@if (tournament.Status != TournamentStatus.Prestart)
								{
									@Html.ActionLink(Text.ResultPage, MVC.Admin.TournamentAdmin.Results(tournament.Id))
								}
							</td>
							<td>Startliste</td>
						</tr>
					}
				</table>
			</div>
		}
	</div>
</div>